.menucontainer {
    background-color: #ffffff;
}

.menucontainer .nav.navbar-nav li>a {
    color: #67c4f1;
}

.menucontainer .nav.navbar-nav li:hover{
    background-color: #0241b4;
}

.c-blue1{
    color: #67c4f1;
}

.bordered-blue1 {
    border: solid 1px #67c4f1;
    height:60px;
    font-size:50px;
    line-height: 60px;
}

.navbar-base.affix{
    background-color: white;
}